.item [data-str-type='word'] {
  opacity: 0;
  transition: opacity 0.5s ease;
  transition-delay: calc(0.2s * var(--str-word-index));
}

.fade_in_visible [data-str-type='word'] {
  opacity: 1;
  /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; */
}
