.example_item > div:nth-child(1) [data-str-type='char'] {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s ease;
  transition-delay: calc(0.05s * var(--str-char-index));
  transform-origin: bottom;
}

.example_item:hover > div:nth-child(1) [data-str-type='char'] {
  transform: translateY(-100%) rotateX(-90deg);
}

.example_item > div:nth-child(2) [data-str-type='char'] {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s ease;
  transition-delay: calc(0.05s * var(--str-char-index));
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}

.example_item:hover > div:nth-child(2) [data-str-type='char'] {
  transform: translateY(0) rotateX(0);
}
